.flows.json.backup
[{"id":"e4a05f0d.4915a","type":"tab","label":"Flow 1"},{"id":"2f0582b8.de5d5e","type":"tab","label":"Flow 2"},{"id":"14e86b97.592304","type":"mqtt-broker","z":"","broker":"192.168.2.2","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"67488568.cb25ac","type":"influxdb","z":"","hostname":"192.168.2.2","port":"8086","protocol":"http","database":"temp2","name":"","usetls":false,"tls":""},{"id":"5de16f02.256ca","type":"influxdb","z":"","hostname":"192.168.2.2","port":"8086","protocol":"http","database":"dewPt","name":"","usetls":false,"tls":""},{"id":"6bdddf0b.2d47e","type":"influxdb","z":"","hostname":"192.168.2.2","port":"8086","protocol":"http","database":"environment","name":"","usetls":false,"tls":""},{"id":"eaf39b8d.cbbb88","type":"mqtt in","z":"e4a05f0d.4915a","name":"temp","topic":"sensor/1/temperature/degreeCelsius","qos":"2","broker":"14e86b97.592304","x":170,"y":320,"wires":[["b4bcbedd.b0e34"]]},{"id":"6a1ceec2.c1b29","type":"mqtt in","z":"e4a05f0d.4915a","name":"baro","topic":"sensor/1/barometer/hectoPascal","qos":"2","broker":"14e86b97.592304","x":170,"y":260,"wires":[["a37b59be.5a5218"]]},{"id":"76619255.2a284c","type":"mqtt in","z":"e4a05f0d.4915a","name":"relHum","topic":"sensor/1/humidity/percentRelative","qos":"2","broker":"14e86b97.592304","x":169,"y":212,"wires":[["e5c4108c.6eb78"]]},{"id":"625565b9.2c166c","type":"mqtt in","z":"e4a05f0d.4915a","name":"dewPt","topic":"sensor/1/humidity/dewPoint","qos":"2","broker":"14e86b97.592304","x":170,"y":160,"wires":[["620d3d7a.10e014"]]},{"id":"a5bcc07b.82389","type":"influxdb out","z":"e4a05f0d.4915a","influxdb":"6bdddf0b.2d47e","name":"","measurement":"temp","precision":"","retentionPolicy":"","x":730,"y":320,"wires":[]},{"id":"dae331eb.2fe92","type":"influxdb out","z":"e4a05f0d.4915a","influxdb":"6bdddf0b.2d47e","name":"","measurement":"dewPt","precision":"","retentionPolicy":"","x":730,"y":160,"wires":[]},{"id":"6a9f9ca4.90e124","type":"http request","z":"2f0582b8.de5d5e","name":"Data source","method":"GET","url":"http://www.aviationweather.gov{{{payload}}}","tls":"","x":250,"y":140,"wires":[["e54beeb5.bb632"]]},{"id":"325df2d3.24195e","type":"inject","z":"2f0582b8.de5d5e","name":"Weather report","topic":"","payload":"/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&hoursBeforeNow=3&mostRecent=true&stationString=EDDL","payloadType":"str","repeat":"600","crontab":"","once":true,"x":87,"y":140,"wires":[["6a9f9ca4.90e124"]]},{"id":"e54beeb5.bb632","type":"xml","z":"2f0582b8.de5d5e","name":"","x":396,"y":140,"wires":[["39430a09.09b376","b8d1654f.3259a8"]]},{"id":"351ce30a.b0f93c","type":"debug","z":"2f0582b8.de5d5e","name":"","active":true,"console":"false","complete":"payload","x":730,"y":80,"wires":[]},{"id":"39430a09.09b376","type":"function","z":"2f0582b8.de5d5e","name":"Parse METAR","func":"var METARdata = msg.payload.response.data[0].METAR[0];\nvar wind = METARdata.wind_speed_kt[0];\nvar gusts = wind; //if wind_gust_kt is not present, value defaults to wind_speed_kt\n   if (typeof METARdata.wind_gust_kt != \"undefined\") {\n\t   gusts = METARdata.wind_gust_kt[0];\n       }\nvar altim = METARdata.altim_in_hg[0];\nvar pressure = Math.round(altim * 33.8637526); //convert hg to mb\nvar dew = METARdata.dewpoint_c[0];\nvar temp = METARdata.temp_c[0];\n\n//August-Roche-Magnus approximation to calculate humidity\nvar constA = 17.625;\nvar constB = 243.04;\nvar rh_numer = 100.0*Math.exp((constA*eval(dew))/(eval(dew)+constB));\nvar rh_denom = Math.exp((constA*eval(temp))/(eval(temp)+constB));\nvar rh_hum   = (rh_numer/rh_denom);\nvar humidity = Math.round(rh_hum);\n\n//msg.payload = ((wind) + (\",\") + (gusts) + (\",\") + (humidity) + (\",\") + (pressure) + (\",\") + (temp));\n\n\nvar msgtemp, msgdewpt, msgrelhum, msgbaro;\nmsgtemp = {payload : [{\n    \"value\" : temp\n},\n{\n    \"location\" : \"EDDL\",\n    \"unit\" : \"Celsius\",\n    \"source\" : \"METAR\"\n}]\n//measurement : {\n//    \"name\": \"temp\"\n//}\n};\n\n/////////////////////////////\nmsgdewpt = {payload : [{\n    \"value\" : dew\n},\n{\n    \"location\" : \"EDDL\",\n    \"unit\" : \"Celsius\",\n    \"source\" : \"METAR\"\n}]};\n//msgdewpt.measurement = {\n//    \"name\": \"dewPt\"\n//}\n/////////////////////////////\n\nmsgrelhum= {payload : [{\n    \"value\" : humidity\n},\n{\n    \"location\" : \"EDDL\",\n    \"unit\" : \"%\",\n    \"source\" : \"METAR\"\n}]};\n\n/////////////////////////////\nmsgbaro = {payload : [{\n    \"value\" : pressure\n},\n{\n    \"location\" : \"EDDL\",\n    \"unit\" : \"hPa\",\n    \"source\" : \"METAR\"\n}]};\n\nreturn [ msgtemp, msgdewpt, msgrelhum, msgbaro ];","outputs":"4","noerr":0,"x":551,"y":140,"wires":[["351ce30a.b0f93c","5bfa94c0.31f68c"],["8eec9996.94eaa8","351ce30a.b0f93c"],["5d057668.6851f8","351ce30a.b0f93c"],["95da0052.98e61","351ce30a.b0f93c"]],"outputLabels":["temp","dewpt","relhum","pressure"]},{"id":"7bc650ea.bef54","type":"comment","z":"2f0582b8.de5d5e","name":"NOAA Weather data","info":"Retrieving Finningly Airport METAR feed","x":82,"y":101,"wires":[]},{"id":"620d3d7a.10e014","type":"function","z":"e4a05f0d.4915a","name":"sensor1_dewpt","func":"\nvar newmsg= {payload: [{\n    \"value\": msg.payload\n},\n{\n    \"location\": \"Studio\",\n    \"unit\": \"Celsius\",\n    \"source\": \"BME280\"\n}]};\n\nreturn newmsg;","outputs":1,"noerr":0,"x":420,"y":160,"wires":[["dae331eb.2fe92","189a428f.8df6fd"]]},{"id":"b4bcbedd.b0e34","type":"function","z":"e4a05f0d.4915a","name":"sensor1_temp","func":"\nvar newmsg = {payload: [{\n    \"value\": msg.payload\n},\n{\n    \"location\": \"Studio\",\n    \"unit\": \"Celsius\",\n    \"source\": \"BME280\"\n}]};\n\nreturn newmsg;","outputs":1,"noerr":0,"x":420,"y":320,"wires":[["a5bcc07b.82389","6bc4604a.face6"]]},{"id":"e5c4108c.6eb78","type":"function","z":"e4a05f0d.4915a","name":"sensor1_relhum","func":"\nvar newmsg = {payload :[{\n    \"value\": msg.payload\n},\n{\n    \"location\": \"Studio\",\n    \"unit\": \"%\",\n    \"source\": \"BME280\"\n}]};\n\nreturn newmsg;","outputs":1,"noerr":0,"x":420,"y":211,"wires":[["62b1f8.cc40ee08","6bc4604a.face6"]]},{"id":"a37b59be.5a5218","type":"function","z":"e4a05f0d.4915a","name":"sensor1_baro","func":"\nvar newmsg = {payload: [{\n    \"value\": msg.payload\n},\n{\n    \"location\": \"Studio\",\n    \"unit\": \"hPa\",\n    \"source\": \"BME280\"\n}]};\n\nreturn newmsg;","outputs":1,"noerr":0,"x":421,"y":269,"wires":[["6964292f.56bf58","6bc4604a.face6"]]},{"id":"189a428f.8df6fd","type":"debug","z":"e4a05f0d.4915a","name":"","active":true,"console":"false","complete":"false","x":970,"y":180,"wires":[]},{"id":"6bc4604a.face6","type":"debug","z":"e4a05f0d.4915a","name":"","active":true,"console":"false","complete":"false","x":675,"y":417,"wires":[]},{"id":"62b1f8.cc40ee08","type":"influxdb out","z":"e4a05f0d.4915a","influxdb":"6bdddf0b.2d47e","name":"","measurement":"relHum","precision":"","retentionPolicy":"","x":720,"y":208,"wires":[]},{"id":"6964292f.56bf58","type":"influxdb out","z":"e4a05f0d.4915a","influxdb":"6bdddf0b.2d47e","name":"","measurement":"baro","precision":"","retentionPolicy":"","x":718,"y":270,"wires":[]},{"id":"ef721908.1dcbe8","type":"influxdb out","z":"2f0582b8.de5d5e","influxdb":"6bdddf0b.2d47e","name":"","measurement":"","precision":"","retentionPolicy":"","x":850,"y":140,"wires":[]},{"id":"b8d1654f.3259a8","type":"debug","z":"2f0582b8.de5d5e","name":"","active":false,"console":"false","complete":"false","x":515,"y":214,"wires":[]},{"id":"5bfa94c0.31f68c","type":"influxdb out","z":"2f0582b8.de5d5e","influxdb":"6bdddf0b.2d47e","name":"","measurement":"temp","precision":"","retentionPolicy":"","x":870,"y":200,"wires":[]},{"id":"8eec9996.94eaa8","type":"influxdb out","z":"2f0582b8.de5d5e","influxdb":"6bdddf0b.2d47e","name":"","measurement":"dewPt","precision":"","retentionPolicy":"","x":884,"y":255,"wires":[]},{"id":"95da0052.98e61","type":"influxdb out","z":"2f0582b8.de5d5e","influxdb":"6bdddf0b.2d47e","name":"","measurement":"baro","precision":"","retentionPolicy":"","x":860,"y":360,"wires":[]},{"id":"5d057668.6851f8","type":"influxdb out","z":"2f0582b8.de5d5e","influxdb":"6bdddf0b.2d47e","name":"","measurement":"relHum","precision":"","retentionPolicy":"","x":895,"y":311,"wires":[]}]